{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    <h1>All Posts</h1>
    <!--Esto es una página renderizada por Django así que podemos hacer la primera carga de datos sin tenernos que preocupar mucho por ella-->


    <!-- Lo primero de todo es añadir una verificación para que el usuario no pueda crear un post sino está registrado. -->

    {% for post in posts %}
        <div id="all-post-div">

            <h4>{{user.username}}</h4>
            <button id="edit_button" class="link_style_button">Edit</button>
            <p>{{post.text}}</p>
            <small>{{post.date}}</small>
            <br>
             <button id="like_button" class="link_style_button">Like</button>
             <br>
            <button id="comment_button" class="link_style_button">Comment</button>

        </div>
    {% endfor %}

    
    <button id="next_posts_button" class="link_style_button">Next</button>
    

{% endblock %}

{% block script %}
    <script src="{% static 'network/inbox.js' %}"></script>
{% endblock %}