h1 {
    margin-left: 1.5%;
}

h4 {
    margin-left: 6%;
}

p {
    overflow-wrap: break-word;
}

#post-button {
    width: 25%;
    margin-left: 6%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: none;
    border-radius: 10%;
    background-color: rgb(12, 123, 255);
    color: white;

}

#all-post-div {
    border: solid rgb(172, 168, 168) 1px;
    border-radius: 10px;
    height: 20%;
    margin-left: 1.2%;
    margin-right: 1.2%;
    margin-top: 0.5%;
    padding: 2%;
}

#edit_button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    cursor: pointer;
}

#edit_button:hover {
    text-decoration: underline;
}




#post-form {
    width: 100%;
}




